
.rightpart{
    width: 45%;
    height: 100vh;
    position: fixed;
    left: 55%;
    right: 0;

    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px 10px #5a5a5a;
 
}
.toppart{
    width: 98%;
    height: 6%;
    background: rgb(50, 11, 87);
    color: #fff;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.secondpart{
    width:98%;
    background: #fff;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-left:2%;
}
li{
    padding: 0;
    margin: 0;
}
.secondpart p{
   
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.secondpart hr{
    padding-left: 1%;
    margin: 0;
    width: 65%;
    

}
.secondpart button{
    border: none;
    background: #ffff;
    width: 15%;
    height: 50px;
    color: #5a5a5a;
    font-size: small;
   padding: auto;
    &:hover{
        border-bottom: 3px solid black;
        color: rgb(50, 11, 87);
        font-size:small;
        font-weight: 700;
      
    }
}
.bottompart{
    background: #fff;
    height: 14%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 3%;
    gap: 2%;
}
.bottompart button{
    width: 90px;
    height: 40px;
    padding: 10px 20px;
    color: rgb(50, 11, 87);
    border: 2px solid rgb(50, 11, 87);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    &:hover{
        background: rgb(50, 11, 87);
        color: #fff;
    }
}
.outercontainer form{
  padding:2% 0 0 0;
   
}
.outercontainer fieldset{
    margin: 0 0 1% 0;
    width:94%;
}
.outercontainer input[type='checkbox']{
    accent-color: rgb(50, 11, 87);
}

